# Ignore only parts of env that are virtual env stuff
env/Include/
env/Lib/
env/Scripts/
env/node_modules/
env/pyvenv.cfg

# Common
__pycache__/
*.py[cod]
*.pyo
*.log

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Notebook
.ipynb_checkpoints/

# Build
dist/
build/
